#header{
    background: #bbd5e4;
    background: -webkit-linear-gradient(to right, #bbd5e4, #1167b1);
    background: linear-gradient(to right, #bbd5e4, #1167b1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

#footer{
    background: #bbd5e4;
    background: -webkit-linear-gradient(to right, #bbd5e4, #1167b1);
    background: linear-gradient(to right, #bbd5e4, #1167b1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.logo{
    width: 150px;
    height: auto;
}

a.navigation, a:hover.navigation, .navigation{
    font-size: x-large;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;
}

.dashboard_body{
    background-image: url('/public/images/blue_circles.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.section-dashboard-home {
    margin: auto;
    background: #bbd5e4;
    background: -webkit-linear-gradient(to right, #bbd5e4, #b8bcbe);
    background: linear-gradient(to right, #bbd5e4, #b8bcbe);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 90%;
    margin-top: 5%;
    padding: 25pt;
  }
  
  .dashboard-title, .dashboard-home-title {
    font-style: normal;
    font-weight: 300 !important;
    color: #3f4255;
    letter-spacing: 0.08em;
    margin-top: 20px;
  }
  
  .dashboard-home-title {
    margin: 0 15px 0 15px;
    color: #308ee6;
    font-size: 2em;
  }
  
  .dashboard-info {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #3f4255;
    margin-top: 30px;
  }
  
  .dashboard-username {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #3750f3;
    margin-left: 20px;
  }