#header{
    background: #1167b1;
    background: -webkit-linear-gradient(to right, #2a9df4, #1167b1);
    background: linear-gradient(to right, #2a9df4, #1167b1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

#footer{
    background: #1167b1;
    background: -webkit-linear-gradient(to right, #2a9df4, #1167b1);
    background: linear-gradient(to right, #2a9df4, #1167b1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.logo{
    width: 150px;
    height: auto;
}

a.navigation, a:hover.navigation{
    font-size: x-large;
}

.dashboard_body{
    background-image: url('/public/images/blue_circles.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    height: 100vh;
}