body.forgot-pass-background {
  background-image: url("/public/images/blue_circles.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.section-forgot-pass {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.forgot-pass-container {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
}

.forgot-pass-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.forgot-pass-panel {
  margin-bottom: 20px;
  margin-top: 20px;
}

.forgot-pass-input {
  background: #e1f1fd;
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  padding: 0.6rem 1.2rem;
  color: black;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
}

.forgot-pass-button {
  border-radius: 20px;
  border: 1px solid #2a9df4;
  background-color: #2a9df4;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.forgot-pass-button:active {
  transform: scale(0.95);
}
