#medilife-about {
    background: url('../../public/images/medilife-background.jpg') no-repeat top center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.general-principal-profile img,
.general-principal-profile figcaption {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
}

.general-principal-profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin-right: 1em;
}

.general-principal-profile figcaption h2 {
    margin-top: 0;
}